<?xml version="1.0"?>
<!--
/**
 * Copyright 2024 Adobe
 * All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Review\Model\Review">
        <plugin name="CheckUserName"
                type="EDU\HelloWorld\Plugin\CheckReview"
                sortOrder="1"
                disabled="false"/>
    </type>
    <preference for="EDU\HelloWorld\Api\CalculatorInterface" type="EDU\HelloWorld\Model\Calculator"/>
    
    <!-- Product Q&A System Preferences -->
    <preference for="EDU\HelloWorld\Api\QuestionRepositoryInterface" type="EDU\HelloWorld\Model\QuestionRepository"/>
    <preference for="EDU\HelloWorld\Api\AnswerRepositoryInterface" type="EDU\HelloWorld\Model\AnswerRepository"/>
    <preference for="EDU\HelloWorld\Api\Data\QuestionSearchResultsInterface" type="EDU\HelloWorld\Model\QuestionSearchResults"/>
</config>
