<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="add_free_gift" instance="EDU\HelloWorld\Observer\AddFreeGiftObserver"/>
    </event>
    <event name="vendor_freegift_added">
        <observer name="notifyuser" instance="\EDU\HelloWorld\Observer\NotifyUserAboutFreeGift"/>
    </event>
</config>
