<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="EDU_StoreNews::news" title="Store News" module="EDU_StoreNews" sortOrder="100" resource="EDU_StoreNews::news" parent="Magento_Backend::marketing_communications" action="storenews/news/index"/>
        <add id="EDU_StoreNews::news_new" title="New Article" module="EDU_StoreNews" sortOrder="101" resource="EDU_StoreNews::news" parent="Magento_Backend::marketing_communications" action="storenews/news/newaction"/>
    </menu>
</config>
