<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="EDU_HelloWorld::inventory" title="inventory report" translate="title"
             module="EDU_HelloWorld" sortOrder="100" parent="Magento_Reports::report_products"
             action="helloadmin/product/index" resource="EDU_HelloWorld::inventory"/>
    </menu>
</config>
